{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-12">
                <div class="content-section">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Product Details</legend>
                            <div class="form-group">
                                {{ form.name.label(class="form-control-label") }}
                                {% if form.name.errors %}
                                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.name(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.description.label(class="form-control-label") }}
                                {% if form.description.errors %}
                                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.description.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.description(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.sku_code.label(class="form-control-label") }}
                                {% if form.sku_code.errors %}
                                    {{ form.sku_code(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.sku_code.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.sku_code(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.mrp.label(class="form-control-label") }}
                                {% if form.mrp.errors %}
                                    {{ form.mrp(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.mrp.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.mrp(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.selling_price.label(class="form-control-label") }}
                                {% if form.selling_price.errors %}
                                    {{ form.selling_price(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.selling_price.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.selling_price(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.shipping_cost.label(class="form-control-label") }}
                                {% if form.shipping_cost.errors %}
                                    {{ form.shipping_cost(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.shipping_cost.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.shipping_cost(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.bulk_pricing.label(class="form-control-label") }}
                                {% if form.bulk_pricing.errors %}
                                    {{ form.bulk_pricing(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.bulk_pricing.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.bulk_pricing(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="image-box">
                                <div class="form-group">
                                    {{ form.image_1.label }}
                                    {{ form.image_1(class="form-control-file") }}
                                    {% if form.image_1.errors %}
                                        {% for error in form.image_1.errors %}
                                            <span class="text-danger">{{ error }}</span><br>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.image_2.label }}
                                    {{ form.image_2(class="form-control-file") }}
                                    {% if form.image_2.errors %}
                                        {% for error in form.image_2.errors %}
                                            <span class="text-danger">{{ error }}</span><br>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="image-box">
                                <div class="form-group">
                                    {{ form.image_3.label }}
                                    {{ form.image_3(class="form-control-file") }}
                                    {% if form.image_3.errors %}
                                        {% for error in form.image_3.errors %}
                                            <span class="text-danger">{{ error }}</span><br>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.image_4.label }}
                                    {{ form.image_4(class="form-control-file") }}
                                    {% if form.image_4.errors %}
                                        {% for error in form.image_4.errors %}
                                            <span class="text-danger">{{ error }}</span><br>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <br><br>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-info") }}
                        </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}